<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vcmsa.projects.loginpage">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginPage"
        tools:targetApi="31">
        <activity
            android:name=".BudgetGoals.Goals"
            android:exported="true"
            android:label="Goals"
            android:theme="@style/Theme.LoginPage" />

        <!-- MainActivity entry -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegisterActivity entry (NEWLY ADDED) -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="Register"
            android:theme="@style/Theme.LoginPage" />

        <!-- UserList activity entry (NEWLY ADDED) -->
        <activity
            android:name=".user.UserList"
            android:exported="true"
            android:label="User List"
            android:theme="@style/Theme.LoginPage" />

        <!-- MainMenu activity entry -->
        <activity
            android:name=".MainMenu"
            android:exported="true"
            android:label="Main Menu"
            android:theme="@style/Theme.LoginPage" />

        <!-- AddCategory activity entry -->
        <activity
            android:name=".CategoryElements.AddCategory"
            android:exported="true"
            android:label="Add Category"
            android:theme="@style/Theme.LoginPage" />

        <!-- ViewCategories activity entry -->
        <activity
            android:name=".ViewCategories"
            android:exported="true"
            android:label="View Categories"
            android:theme="@style/Theme.LoginPage" />
        <activity android:name=".ViewExpensesActivity">
            <!-- You can also add specific configurations here if needed -->
        </activity>

        <!-- ExpenseEntry class added (if this is an activity) -->
        <activity
            android:name=".ExpenseEntry"
            android:exported="true"
            android:label="Expense Entry"
            android:theme="@style/Theme.LoginPage" />

    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>
